extends layout

block content
  h1= title
  #viewport
    #camera-selection
      span#cam1.camera-selector Camera 1
      span#cam2.camera-selector Camera 2
    #videoframe
      img(src='cam1/feed')
      #cam-ctrl-button-up.cam-ctrl-button
      #cam-ctrl-button-left.cam-ctrl-button
      #cam-ctrl-button-right.cam-ctrl-button
      #cam-ctrl-button-down.cam-ctrl-button
