extends layout

block content
  h1= title
  #videoframe
    img(src='cam1/feed')
    #cam-ctrl-button-up.cam-ctrl-button
    #cam-ctrl-button-left.cam-ctrl-button
    #cam-ctrl-button-right.cam-ctrl-button
    #cam-ctrl-button-down.cam-ctrl-button
