extends layout

block content
  h1= title
  #viewport
    #camera-selection
    #extra
    #videoframe
      img
      #cam-ctrl-button-up.cam-ctrl-button
      #cam-ctrl-button-left.cam-ctrl-button
      #cam-ctrl-button-right.cam-ctrl-button
      #cam-ctrl-button-down.cam-ctrl-button
    #sensors
  #vanity
    a(href='https://github.com/bertoldia/coop-o-matic'
      target='_blank')
      img(src='/images/octocat.png')
